{% load staticfiles %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
{% load bootstrap4 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% include 'collectors/nav.html' %}

    <div class="content container">
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
            {% block content %}
            {% endblock %}
    </div>
</body>
