{% extends 'ssiapp.html' %}

{% block content %}
    <div class="lead">Hosts</div>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Host</th>
                <th scope="col">Input Instances</th>
            </tr>
        </thead>
        <tbody>
        {% for host in items %}
        <tr>
            <td><a href="{{ host.get_absolute_url }}">{{ host.fqdn }}</a></td>
            <td>{{ host.inputinstance_set.count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
