{% extends 'ssiapp.html' %}
{% load humanize %}

{% block content %}
<div class="container" >
    <div class="lead">{{ item.fqdn }}</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Input</th>
                <th scope="col">Collector</th>
                <th scope="col">Interval</th>
                <th scope="col">Configuration Details</th>
            </tr>
        </thead>
        <tbody>
    {% for instance in item.inputinstance_set.all %}
            <tr>
                <td><a href="{{ instance.s_input.get_absolute_url }}">{{ instance.s_input }}</a></td>
                <td>{{ instance.s_input.software.name }}</td>
                <td>{{ instance.interval }}</td>
                <td><pre>{{ instance.configuration|pprint }}</pre></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
