{% extends 'ssiapp.html' %}
{% load humanize %}

{% block content %}
<div class="container" >
    <div class="lead">{{ item.fqdn }}</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Host</th>
                <th scope="col">Interval</th>
                <th scope="col">Configuration Details</th>
            </tr>
        </thead>
        <tbody>
    {% for input in item.inputinstance_set.all %}
            <tr>
                <td><a href="{{ input.host.get_absolute_url }}">{{ input.host }}</a></td>
                <td>{{ input.interval }}</td>
                <td><pre>{{ input.configuration|pprint }}</pre></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
