{% extends 'ssiapp.html' %}

{% block content %}
    <div class="lead">Inputs</div>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Host</th>
                <th scope="col">Input</th>
                <th scope="col">Collector</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td><a href="{{ item.host.get_absolute_url }}">{{ item.host }}</a></td>
            <td><a href="{{ item.s_input.get_absolute_url }}">{{ item.s_input.name }}</a></td>
            <td><a href="{{ item.s_input.software.get_absolute_url }}">{{ item.s_input.software.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
