{% extends 'ssiapp.html' %}
{% load humanize %}

{% block content %}
<div class="container" >
    <div class="lead">{{ item.name }}</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Input</th>
                <th scope="col">Instances</th>
            </tr>
        </thead>
        <tbody>
    {% for input in item.input_set.all %}
            <tr>
                <td><a href="{{ input.get_absolute_url }}">{{ input }}</a></td>
                <td>{{ input.inputinstance_set.count }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
