{% extends 'ssiapp.html' %}

{% block content %}
    <div class="lead">Software</div>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Software</th>
                <th scope="col">Inputs</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
            <td>{{ item.input_set.count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
